* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 95.5vh;
    gap: 0;
    border: black solid 1px;
}

.square {
    aspect-ratio: 1;
}

.hover {
    background-color: black;
}

button {
    height: 3.5vh;
    padding: 5px;
    border-radius: 7px;
    background-color: lightblue;
    border: 0px;
    margin-bottom: 1vh;
}